<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="hsrb"/>
  <arg name="personal_name" default="" />
  <arg name="debug" default="false"/>
  <arg name="gui" default="true" />
  <arg name="rviz" default="true"/>
  <arg name="gazebo_visualization" default="false" />
  <arg name="use_manipulation" default="true" />
  <arg name="use_navigation" default="true" />
  <arg name="use_perception" default="true" />
  <arg name="use_task" default="true" />
  <arg name="use_teleop" default="true" />
  <arg name="use_web" default="true" />
  <arg name="use_laser_odom" default="false" />
  <arg name="paused" default="true" />
  <arg name="fast_physics" default="false" />
  <arg name="robot_name" default="$(optenv ROBOT_NAME hsrb)" />

  <arg unless="$(arg fast_physics)" name="world_suffix" value=""/>
  <arg     if="$(arg fast_physics)" name="world_suffix" value="_fast"/>

  <!--Spawn robot-->
  <include file="$(find hsr123)/launch/includes/hsrb_gazebo_common.xml" pass_all_args="true" >
    <arg name="map" value="$(find tmc_potential_maps)/maps/white_space/map.yaml" />
    <arg name="world_name" value="$(find tmc_gazebo_worlds)/worlds/empty$(arg world_suffix).world"/>
    <arg name="robot_pos" value="-x 0 -y 0 -z 0 -Y 0" />
    <arg name="ground_truth_xyz_offset" value="0.0\ 0.0\ 0.0" />
    <arg name="ground_truth_rpy_offset" value="0.0\ 0.0\ 0.0" />
  </include>

  <!--Spawn table and can-->
  <arg name="table_x1" default="0.7" />
  <arg name="table_y1" default="-0.7" />
  <node name="spawn_table1" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find hsr123)/models/table/model.sdf -sdf -x $(arg table_x1) -y $(arg table_y1) -model table1" />
  <arg name="box_x" default="1" />
  <arg name="box_y" default="2" />
  <node name="spawn_box" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find hsr123)/models/box/model.sdf -sdf -x $(arg box_x) -y $(arg box_y) -model box" />

  <arg name="bottle_x1" default="0.4" />
  <arg name="bottle_y1" default="-0.38" />
  <arg name="bottle_x2" default="0.8" />
  <arg name="bottle_y2" default="-1" />
  <arg name="bottle_x3" default="1.2" />
  <arg name="bottle_y3" default="-0.38" />
  <arg name="bottle_z" default="0.8" />
  <arg name="bottle_Y" default="0" />
  <node name="spawn_bottle1" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find hsr123)/models/hsr_coke/model.sdf -sdf -x $(arg bottle_x1) -y $(arg bottle_y1) -z $(arg bottle_z) -Y $(arg bottle_Y) -model bottle1" />
  <node name="spawn_bottle2" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find hsr123)/models/hsr_coke/model.sdf -sdf -x $(arg bottle_x2) -y $(arg bottle_y2) -z $(arg bottle_z) -Y $(arg bottle_Y) -model bottle2" />
  <node name="spawn_bottle3" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find hsr123)/models/hsr_coke/model.sdf -sdf -x $(arg bottle_x3) -y $(arg bottle_y3) -z $(arg bottle_z) -Y $(arg bottle_Y) -model bottle3" />
</launch>